python.invokePipAsModule=true
python.path=python3.9
python.installVirtualenv=true

python.pipPath=pip
python.runPoetryPreStep=true
python.runPipenvPreStep=true
python.resolveSetupFiles=true
python.resolveHierarchyTree=true
python.resolveDependencies=true
python.pipenvDevDependencies=true
python.ignoreSourceFiles=true
python.ignorePipInstallErrors=true
python.IgnorePipenvInstallErrors=true
